* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #029DAF;
  color: white;
  padding: 10px 0;
}

header h1 {
  text-align: center;
  font-size: 2em; /* Ajuste o tamanho do texto conforme necessário */
    color: #ffffff; /* Cor principal do texto */
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7), 0 0 25px #029DAF, 0 0 5px #00adc0;
}


nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1; /* Isso faz o main ocupar o espaço restante */
}

.hero {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.hero h2 {
  margin: 0;
  font-size: 2em; /* Ajuste o tamanho do texto conforme necessário */
  color: #ffffff; /* Cor principal do texto */
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7), 0 0 25px #029DAF, 0 0 5px #00adc0;
}

.hero p {
  margin: 10px 0;
  font-size: 1.3em; /* Ajuste o tamanho do texto conforme necessário */
  color: #ffffff; /* Cor principal do texto */
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7), 0 0 25px #029DAF, 0 0 5px #00adc0;
}
.btn-ver-produtos {
  display: inline-block; /* Para que o link se comporte como um botão */
  background-color: #029DAF; /* Cor de fundo  */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  padding: 15px 30px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animações */
}

.btn-ver-produtos:hover {
  transform: scale(1.1); /* Aumenta o tamanho do botão */
  background-color: #08717c; /* Escurece a cor de fundo ao passar o mouse */
}
.carrossel {
  position: relative;
  max-width: 600px; /* Largura máxima do carrossel */
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  height: 300px; /* Altura menor para as imagens */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Para ocultar partes da imagem que excedem o contêiner */
}

img {
  width: auto; /* Largura automática para manter a proporção */
  height: 100%; /* Altura total do slide */
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro do contêiner */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.destaques {
  padding: 20px;
  text-align: center;
}

.destaques h2 {
  margin-bottom: 20px;
  font-size: 2em; /* Ajuste o tamanho do texto conforme necessário */
  color: #ffffff; /* Cor principal do texto */
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7), 0 0 25px #029DAF, 0 0 5px #00adc0;
}

.produtos-destaque {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.produto {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;

}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #029DAF;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

h1 {
  color: #333;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 1000px; /* Ajuste conforme necessário */
  margin-left: auto;
  margin-right: auto;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.product img {
  width: 250px;
  height: 250px;
}

.price {
  font-weight: bold;
  color: #333;
}

.description {
  display: none; /* Inicialmente escondida */
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}
.container-contato {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0; /* Começa invisível */
  animation: fadeIn 1s forwards; /* Animação de fade-in */
}

@keyframes fadeIn {
  to {
      opacity: 1; /* Finaliza visível */
  }
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.required {
  color: red; /* Cor para indicar campos obrigatórios */
}
input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#btnEnviar {
  background-color: #029DAF; /* Azul */
  color: white;
  margin-top: 99px;
  left: 59.5%;
}

#btnLimpar {
  background-color: #029DAF; /* azul */
  color: white;
  margin-top: 99px;
  left: 54%;
}

button:hover {
  opacity: 0.8;
}

.imagem-sobre-nos {
  max-width: 250px; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Faz com que a imagem seja um bloco */
  margin: 10px auto; /* Centraliza a imagem com margens automáticas */
}